@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 30, 41, 59;
    --background-rgb: 250, 250, 252;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 241, 245, 249;
      --background-rgb: 15, 23, 42;
    }
  }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background-color: rgb(var(--background-rgb));
    min-height: 100vh;
    letter-spacing: -0.011em;
  }

  h1, h2, h3, h4, h5, h6 {
    letter-spacing: -0.02em;
    font-weight: 600;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
